# Fáza 1

## 1.1 Základný opis dát spolu s ich charakteristikami

### 1.1.A Analýza štruktúr dát ako súbory (štruktúry a vzťahy, počet, typy, …), záznamy (štruktúry, počet záznamov, počet atribútov, typy, …)

In [1]:
import pandas as pd

K dispozícii máme štyri súbory csv:

In [2]:
connections = pd.read_csv('data/connections.csv', delimiter='\t')
connections

,ts,imei,mwra,c.katana,c.dogalize,c.android.youtube,c.android.chrome,c.android.gm,c.raider,c.UCMobile.x86,c.updateassist,c.UCMobile.intl,c.android.vending
0,2018-05-05 10:00:00,8630330696303481172,1.0,9.29393,9.65293,9.18203,7.64836,14.61376,47.82024,54.33564,62.35464,72.81987,11.24912
1,2018-05-05 10:01:00,3590433799317662097,0.0,9.87107,6.65895,10.84119,9.05362,11.03129,35.76535,48.01631,64.58400,9.11802,31.03623
2,2018-05-05 10:02:00,3590433799317661123,0.0,15.31239,5.01324,10.87556,6.65091,13.41425,57.80452,68.35074,23.34476,86.06474,45.28060
3,2018-05-05 10:03:00,8630330696303481909,1.0,8.23151,9.76082,9.77154,9.98477,14.15220,51.48972,87.82917,37.14845,91.60321,64.76852
4,2018-05-05 10:04:00,8630330696303481701,1.0,8.02947,10.25168,6.63390,6.77049,10.60092,30.43476,92.26847,68.27938,89.99798,15.42470
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15150,2018-05-11 15:20:00,863033069630348768,1.0,13.27809,11.42837,14.50600,15.05478,14.36806,60.22465,4.24095,93.04172,67.94590,1.70287
15151,2018-05-09 12:13:00,8630330696303481834,1.0,11.68512,11.64407,10.46232,11.33426,9.09588,53.47074,21.18007,66.72528,1.53188,31.86282
15152,2018-05-15 10:18:00,8630330696303482147,1.0,10.56641,14.11005,14.41197,14.18357,10.19200,37.37893,12.61802,66.69633,65.02258,20.75755
15153,2018-05-09 10:36:00,359043379931766494,1.0,11.31192,13.64240,12.69253,9.69818,9.21048,62.28946,70.33297,85.99633,4.89074,78.80582
15154,2018-05-06 07:59:00,8630330696303481271,1.0,8.00197,11.48360,10.18327,9.07833,13.24834,43.89161,66.70692,89.32297,71.70868,2.55854

In [10]:
connections.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15155 entries, 0 to 15154
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ts                 15155 non-null  object
 1   imei               15155 non-null  int64
 2   mwra               15155 non-null  float64
 3   c.katana           15155 non-null  float64
 4   c.dogalize         15155 non-null  float64
 5   c.android.youtube  15155 non-null  float64
 6   c.android.chrome   15155 non-null  float64
 7   c.android.gm       15155 non-null  float64
 8   c.raider           15155 non-null  float64
 9   c.UCMobile.x86     15155 non-null  float64
 10  c.updateassist     15155 non-null  float64
 11  c.UCMobile.intl    15155 non-null  float64
 12  c.android.vending  15155 non-null  float64
dtypes: float64(11), int64(1), object(1)
memory usage: 1.5+ MB

^ „connections.csv“– Seems to be a list of connections that is related to a certain electronic device with `imei` number.

In [3]:
devices = pd.read_csv('data/devices.csv', delimiter='\t')
devices

,latitude,longitude,store_name,code,location,imei
0,61.78491,34.34691,Petrozavodsk,RU,Europe/Moscow,3590433799317661040
1,28.98002,77.70636,Meerut,IN,Asia/Kolkata,3590433799317661263
2,23.90280,89.11943,Kushtia,BD,Asia/Dhaka,359043379931766866
3,-8.99167,125.21972,Maliana,TL,Asia/Dili,3590433799317661073
4,33.08014,-83.23210,Milledgeville,US,America/New_York,8630330696303482311
...,...,...,...,...,...,...
2970,44.80477,-0.59543,Talence,FR,Europe/Paris,359043379931766213
2971,51.65333,5.28750,Vught,NL,Europe/Amsterdam,3590433799317662279
2972,33.50921,-111.89903,Scottsdale,US,America/Phoenix,359043379931766387
2973,50.80019,7.20769,Siegburg,DE,Europe/Berlin,8630330696303482352
2974,35.30889,139.55028,Kamakura,JP,Asia/Tokyo,3590433799317661826

In [11]:
devices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2975 entries, 0 to 2974
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   latitude    2975 non-null   float64
 1   longitude   2975 non-null   float64
 2   store_name  2975 non-null   object
 3   code        2968 non-null   object
 4   location    2975 non-null   object
 5   imei        2975 non-null   int64
dtypes: float64(2), int64(1), object(3)
memory usage: 139.6+ KB

^ „devices.csv“– Contains information about electronic devices with `imei` number with its location and (likely) in which store it is (installed).

In [4]:
processes = pd.read_csv('data/processes.csv', delimiter='\t')
processes

,ts,imei,mwra,p.system,p.android.gm,p.android.settings,p.android.chrome,p.android.packageinstaller,p.android.documentsui,p.android.externalstorage,...,p.dogalize,p.browser.provider,p.notifier,p.gms.persistent,p.inputmethod.latin,p.katana,p.google,p.process.gapps,p.android.gms,p.simulator
0,2018-05-05 10:00:00,8630330696303481172,1.0,10.85162,5.76758,12.23591,13.47511,15.75761,7.84882,10.31012,...,53.39714,48.75442,57.61393,62.34198,54.36855,70.29131,77.50615,81.28121,71.85749,9.12899
1,2018-05-05 10:01:00,3590433799317662097,0.0,11.19103,11.05400,6.73356,9.66098,11.64789,13.19432,7.79902,...,38.19170,43.23944,64.95890,4.65765,58.14930,41.15580,79.63176,92.37950,10.43540,61.58344
2,2018-05-05 10:02:00,3590433799317661123,0.0,10.13556,8.68557,7.66270,9.71330,12.86800,10.82623,6.12165,...,34.04061,73.33044,63.96102,43.23826,48.85930,13.37236,86.74975,88.53951,32.99274,63.99667
3,2018-05-05 10:03:00,8630330696303481909,1.0,7.20268,6.00790,10.73122,10.83178,14.65533,8.63345,12.01726,...,63.82486,34.79186,72.32636,98.03954,99.86546,97.03455,4.55653,75.56993,21.74111,9.71695
4,2018-05-05 10:04:00,8630330696303481701,1.0,9.63418,9.27475,10.71554,15.98658,16.01235,7.17058,11.39136,...,39.13822,52.84187,72.66790,84.47463,50.03377,75.08935,82.13932,23.30607,47.49774,81.93135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15150,2018-05-11 15:20:00,863033069630348768,1.0,10.02363,7.56187,14.89404,5.12364,15.71333,12.91835,11.67245,...,40.64086,72.01188,21.80292,31.02750,10.30777,15.14034,78.69514,14.46784,14.85553,14.88191
15151,2018-05-09 12:13:00,8630330696303481834,1.0,6.89386,10.70348,9.10952,10.80255,11.00516,7.07732,8.53317,...,20.35986,65.92205,77.17131,20.75300,33.35721,52.88386,51.65556,56.44314,71.30827,23.92190
15152,2018-05-15 10:18:00,8630330696303482147,1.0,8.68681,5.75297,14.32161,6.78389,12.15947,8.25577,9.00162,...,50.31696,40.92997,87.74093,85.68022,74.24349,31.05734,59.55667,96.39741,64.66882,17.09412
15153,2018-05-09 10:36:00,359043379931766494,1.0,4.16575,8.59649,14.05931,8.71888,11.98161,5.57893,6.65998,...,53.34673,21.81320,26.58583,0.72731,34.81966,96.04223,21.20380,98.25850,48.48778,28.24355
15154,2018-05-06 07:59:00,8630330696303481271,1.0,8.57569,7.22024,11.09398,12.57120,12.99691,6.94595,11.70087,...,54.44092,59.80504,91.44128,41.87333,40.33199,92.19788,25.30395,89.09121,55.55247,7.68633

In [12]:
processes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15155 entries, 0 to 15154
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ts                          15155 non-null  object
 1   imei                        15155 non-null  int64
 2   mwra                        15155 non-null  float64
 3   p.system                    15155 non-null  float64
 4   p.android.gm                15155 non-null  float64
 5   p.android.settings          15155 non-null  float64
 6   p.android.chrome            15155 non-null  float64
 7   p.android.packageinstaller  15155 non-null  float64
 8   p.android.documentsui       15155 non-null  float64
 9   p.android.externalstorage   15155 non-null  float64
 10  p.android.vending           15155 non-null  float64
 11  p.olauncher                 15155 non-null  float64
 12  p.android.defcontainer      15155 non-null  float64
 13  p.dogalize                  15155 non-null  float64
 14  p.browser.provider          15155 non-null  float64
 15  p.notifier                  15155 non-null  float64
 16  p.gms.persistent            15155 non-null  float64
 17  p.inputmethod.latin         15155 non-null  float64
 18  p.katana                    15155 non-null  float64
 19  p.google                    15155 non-null  float64
 20  p.process.gapps             15155 non-null  float64
 21  p.android.gms               15155 non-null  float64
 22  p.simulator                 15155 non-null  float64
dtypes: float64(21), int64(1), object(1)
memory usage: 2.7+ MB

^ „processes.csv“– Contains information about processes that are running on a certain electronic device with `imei` number.

In [5]:
profiles = pd.read_csv('data/profiles.csv', delimiter='\t')
profiles

,name,company,ssn,current_location,imei,address,birthdate,registration,user_id,username,mail,job
0,Elizabeth Sloan,"Jackson, Quinn and Cox",602-11-8872,"(Decimal('-84.5302895'), Decimal('173.686383'))",8630330696303481685,"87645 Stewart Mills\nSouth Katie, SC 60345",NaN,2019-01-09,331,nataliejackson,martineznancy@yahoo.com,NaN
1,Marie Smith,"Glover, Jones and Hughes",260-99-5834,"(Decimal('74.9915035'), Decimal('179.120452'))",8630330696303481222,"220 Anne View\nGibsonbury, NV 20095",1936-01-21,"08/07/2024, 00:00:00",368,vadams,mendozarobert@yahoo.com,"Journalist, newspaper"
2,Michelle Martin,"Camacho, Phillips and Phillips",874-79-4212,"(Decimal('31.911647'), Decimal('70.129893'))",3590433799317661917,"616 Pierce Garden Apt. 199\nWest Maria, VA 90680",1915-04-24,"09/25/2021, 00:00:00",1352,thomaslisa,desireewatson@hotmail.com,NaN
3,John Cannon,Craig Ltd,058-93-8409,"(Decimal('-70.668026'), Decimal('87.530829'))",3590433799317661495,"763 Wood Streets\nPort Michaelmouth, OK 95860",NaN,2022-07-05,148,connorcook,dennispeter@hotmail.com,NaN
4,Denise Barnes,"Hoover, Austin and Nguyen",544-70-5957,"(Decimal('85.201390'), Decimal('61.093555'))",8630330696303481339,USNS Sheppard\nFPO AP 12026,1973-08-22,25 Apr 2024,1620,jeffreymarquez,pachecodavid@gmail.com,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2520,Maria Sanders,"Ingram, Juarez and Clark",091-49-1693,"(Decimal('-36.2100725'), Decimal('51.550908'))",3590433799317661503,Unit 2316 Box 4841\nDPO AP 22511,1924-02-01,2017/10/31,233,vsteele,qcarter@hotmail.com,NaN
2521,Dylan Moore,Cohen-Daniel,566-77-9989,"(Decimal('49.957777'), Decimal('8.950402'))",863033069630348982,"461 David Corner\nWesleyport, WV 74342",NaN,2019/06/30,1725,kristen88,garrisonalison@yahoo.com,NaN
2522,Tamara Robinson,"Martinez, Griffin and Washington",318-57-9519,"(Decimal('18.9749075'), Decimal('139.440698'))",3590433799317661388,NaN,NaN,26 Mar 2023,2481,lfrancis,shawthomas@hotmail.com,NaN
2523,Bill Peterson,Torres-Brown,374-14-3768,"(Decimal('-74.236055'), Decimal('54.749165'))",8630330696303481263,"639 Wright Orchard Apt. 744\nCharlesstad, MP 8...",1995-05-30,2024-03-13,1681,palmerashley,melissa87@hotmail.com,NaN
2524,Karen Chambers,Hunter LLC,255-72-6258,"(Decimal('87.9667025'), Decimal('-19.239898'))",3590433799317662220,"13199 Jones Junctions Apt. 770\nSherryside, MO...",NaN,2024-04-11,114,torresmatthew,amber15@hotmail.com,NaN

In [13]:
profiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2525 entries, 0 to 2524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              2525 non-null   object
 1   company           2525 non-null   object
 2   ssn               2525 non-null   object
 3   current_location  2399 non-null   object
 4   imei              2525 non-null   int64
 5   address           2146 non-null   object
 6   birthdate         1389 non-null   object
 7   registration      2525 non-null   object
 8   user_id           2525 non-null   int64
 9   username          2525 non-null   object
 10  mail              2525 non-null   object
 11  job               757 non-null    object
dtypes: int64(2), object(10)
memory usage: 236.8+ KB

^ „profiles.csv“– Contains information about profiles that are related to a certain electronic device with `imei` number.

### 1.1.B Analýza jednotlivých atribútov: pre zvolené významné atribút

In [14]:
import matplotlib.pyplot as plt

Let's analyze next major attributes:

- `connections`:
    - 
- `devices`:
- `processes`:
- `profiles`: