In [5]:
import pandas as pd

In [6]:
connections = pd.read_csv('data/connections.csv', delimiter='\t')
connections.head()

,ts,imei,mwra,c.katana,c.dogalize,c.android.youtube,c.android.chrome,c.android.gm,c.raider,c.UCMobile.x86,c.updateassist,c.UCMobile.intl,c.android.vending
0,2018-05-05 10:00:00,8630330696303481172,1.0,9.29393,9.65293,9.18203,7.64836,14.61376,47.82024,54.33564,62.35464,72.81987,11.24912
1,2018-05-05 10:01:00,3590433799317662097,0.0,9.87107,6.65895,10.84119,9.05362,11.03129,35.76535,48.01631,64.58400,9.11802,31.03623
2,2018-05-05 10:02:00,3590433799317661123,0.0,15.31239,5.01324,10.87556,6.65091,13.41425,57.80452,68.35074,23.34476,86.06474,45.28060
3,2018-05-05 10:03:00,8630330696303481909,1.0,8.23151,9.76082,9.77154,9.98477,14.15220,51.48972,87.82917,37.14845,91.60321,64.76852
4,2018-05-05 10:04:00,8630330696303481701,1.0,8.02947,10.25168,6.63390,6.77049,10.60092,30.43476,92.26847,68.27938,89.99798,15.42470

In [7]:
devices = pd.read_csv('data/devices.csv', delimiter='\t')
devices.head()

,latitude,longitude,store_name,code,location,imei
0,61.78491,34.34691,Petrozavodsk,RU,Europe/Moscow,3590433799317661040
1,28.98002,77.70636,Meerut,IN,Asia/Kolkata,3590433799317661263
2,23.90280,89.11943,Kushtia,BD,Asia/Dhaka,359043379931766866
3,-8.99167,125.21972,Maliana,TL,Asia/Dili,3590433799317661073
4,33.08014,-83.23210,Milledgeville,US,America/New_York,8630330696303482311

In [8]:
processes = pd.read_csv('data/processes.csv', delimiter='\t')
processes.head()

,ts,imei,mwra,p.system,p.android.gm,p.android.settings,p.android.chrome,p.android.packageinstaller,p.android.documentsui,p.android.externalstorage,...,p.dogalize,p.browser.provider,p.notifier,p.gms.persistent,p.inputmethod.latin,p.katana,p.google,p.process.gapps,p.android.gms,p.simulator
0,2018-05-05 10:00:00,8630330696303481172,1.0,10.85162,5.76758,12.23591,13.47511,15.75761,7.84882,10.31012,...,53.39714,48.75442,57.61393,62.34198,54.36855,70.29131,77.50615,81.28121,71.85749,9.12899
1,2018-05-05 10:01:00,3590433799317662097,0.0,11.19103,11.05400,6.73356,9.66098,11.64789,13.19432,7.79902,...,38.19170,43.23944,64.95890,4.65765,58.14930,41.15580,79.63176,92.37950,10.43540,61.58344
2,2018-05-05 10:02:00,3590433799317661123,0.0,10.13556,8.68557,7.66270,9.71330,12.86800,10.82623,6.12165,...,34.04061,73.33044,63.96102,43.23826,48.85930,13.37236,86.74975,88.53951,32.99274,63.99667
3,2018-05-05 10:03:00,8630330696303481909,1.0,7.20268,6.00790,10.73122,10.83178,14.65533,8.63345,12.01726,...,63.82486,34.79186,72.32636,98.03954,99.86546,97.03455,4.55653,75.56993,21.74111,9.71695
4,2018-05-05 10:04:00,8630330696303481701,1.0,9.63418,9.27475,10.71554,15.98658,16.01235,7.17058,11.39136,...,39.13822,52.84187,72.66790,84.47463,50.03377,75.08935,82.13932,23.30607,47.49774,81.93135

In [9]:
profiles = pd.read_csv('data/profiles.csv', delimiter='\t')
profiles.head()

,name,company,ssn,current_location,imei,address,birthdate,registration,user_id,username,mail,job
0,Elizabeth Sloan,"Jackson, Quinn and Cox",602-11-8872,"(Decimal('-84.5302895'), Decimal('173.686383'))",8630330696303481685,"87645 Stewart Mills\nSouth Katie, SC 60345",NaN,2019-01-09,331,nataliejackson,martineznancy@yahoo.com,NaN
1,Marie Smith,"Glover, Jones and Hughes",260-99-5834,"(Decimal('74.9915035'), Decimal('179.120452'))",8630330696303481222,"220 Anne View\nGibsonbury, NV 20095",1936-01-21,"08/07/2024, 00:00:00",368,vadams,mendozarobert@yahoo.com,"Journalist, newspaper"
2,Michelle Martin,"Camacho, Phillips and Phillips",874-79-4212,"(Decimal('31.911647'), Decimal('70.129893'))",3590433799317661917,"616 Pierce Garden Apt. 199\nWest Maria, VA 90680",1915-04-24,"09/25/2021, 00:00:00",1352,thomaslisa,desireewatson@hotmail.com,NaN
3,John Cannon,Craig Ltd,058-93-8409,"(Decimal('-70.668026'), Decimal('87.530829'))",3590433799317661495,"763 Wood Streets\nPort Michaelmouth, OK 95860",NaN,2022-07-05,148,connorcook,dennispeter@hotmail.com,NaN
4,Denise Barnes,"Hoover, Austin and Nguyen",544-70-5957,"(Decimal('85.201390'), Decimal('61.093555'))",8630330696303481339,USNS Sheppard\nFPO AP 12026,1973-08-22,25 Apr 2024,1620,jeffreymarquez,pachecodavid@gmail.com,NaN